<app-navbar></app-navbar>
<pm-navigation style="width: 100%;"></pm-navigation>
<div>
<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Specialist appointments</mat-card-title>
      </mat-card-header>
      <form #f="ngForm" [formGroup]="recommendForm" class="example-form">
        <div class="example-container">   
            <mat-form-field appearance="fill" class="width-100">
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="startDate" placeholder="Start date" [(ngModel)]="appointment.startDate">
                <input matEndDate formControlName="endDate" placeholder="End date" [(ngModel)]="appointment.endDate">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
              <mat-error *ngIf="hasError('startDate', 'required')">Date is required</mat-error>
              <mat-error *ngIf="hasError('endDate', 'required')">Date is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="width-100">
                <mat-label>Choose patient</mat-label>
                <mat-select formControlName="patient" [(ngModel)]="selectedPatient.name" required>
                   <mat-option *ngFor="let patient of patients" [value]="patient.name">
                    <mat-option *ngIf="patient.role == 1" [ngValue]="patient.name">{{patient.name}}</mat-option>
                   </mat-option>
                </mat-select>
                <mat-error *ngIf="hasError('patient', 'required')">Patient is required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="width-100">
                <mat-label>Chosen doctor</mat-label>
                <mat-select formControlName="doctor" [(ngModel)]="selectedDoctor.name" required>
                   <mat-option *ngFor="let doctor of doctors" [value]="doctor.nameAndSurname">
                     <mat-option *ngIf="doctor.specialization != 0" [ngValue]="doctor.nameAndSurname">{{doctor.nameAndSurname}}</mat-option>
                     <mat-option *ngIf="doctor.specialization == 0" [ngValue]="doctor.nameAndSurname" disabled>{{doctor.nameAndSurname}}(disabled)</mat-option>
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="hasError('doctor', 'required')">Doctor is required</mat-error>
            </mat-form-field>
            
            <mat-form-field class="example-full-width">
                <input  formControlName="reason" matInput placeholder="Reason" formControlName="reason">
            </mat-form-field>
          
            <br>
            <br>
                        
        </div> 
        
        <button mat-stroked-button color="accent" class="btn-block" (click)="onSubmit()">Find</button>
  
      </form>
    </mat-card>
</div>

<div class="tableContainer">
    <table mat-table [dataSource]="appointmentsRecomended" class="mat-elevation-z8">
      <div class="container" id="content" #content>
        <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element; index as i"> {{i+1}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.start | date: 'dd/MM/yyyy'}} </td>
        </ng-container>
    
        <ng-container matColumnDef="Time">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let element"> {{element.start | date : 'shortTime'}}</td>
        </ng-container>

        <ng-container matColumnDef="Doctor">
            <th mat-header-cell *matHeaderCellDef> Doctor </th>
            <td mat-cell *matCellDef="let element">dr. {{element.doctorFullName }}</td>
        </ng-container>

        <ng-container matColumnDef="#">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let element"> 
                <button mat-raised-button color="primary" id="button" (click)="schedule(element)">Schedule</button>
            </td>
        </ng-container>

        <!--<input type="button" value="Download PDF" class="btn btn-success" (click)="SavePDF()">-->
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </div>
    </table>
</div>
</div>
