<app-navbar></app-navbar>
<div>
<div class="left">
  <h1 class="welcome">Welcome to Blossomvale Medical Clinic</h1>
</div>
<hr>
<br>
<br>
<h1 style="height: 30px; margin-left: 5%;">Users feedback and highlighted comments</h1>
<div class="comments">
    <div>
      <div *ngFor="let comment of comments">
          <div class="review-holder">
          <mat-card class="example-card">
              <mat-card-title>Comment</mat-card-title>
              <mat-card-content>
                <p>{{ comment.name }}</p>
                <p>{{ comment.date | date:'short' }}</p>
                <br>
                <mat-card-subtitle>Response</mat-card-subtitle>
                <p><em>"{{ comment.content }}"</em></p>
              </mat-card-content>
          </mat-card>
          </div>
          <br>
          <br>
      </div>
    </div>
  </div>
</div>
