<app-navbar></app-navbar>
<div class="background">
    <h1>Welcome to hospital!</h1>
        <div class="box">
             <h2 style="margin-left: 5%;">About us</h2>
             <p class="paragraph">Years ago, a small group of home care leaders and providers noticed a need in their industry and decided to face a new endeavor, head-on. At the grassroots level, they embarked on a journey to create an accreditation option that was sensitive to the needs of small providers in North Carolina. Their mission: to “ensure a voice for providers.”

            Today, ACHC is an internationally recognized accrediting body with customers throughout the United States and beyond. We remain committed to providers, customer service, and quality patient care.</p>
        </div>
</div>
<div class="comments">
    <h2>Comments</h2>
    <div class="reviews-holder">
      <div *ngFor="let comment of comments">
          <div class="review-holder">
          <mat-card class="example-card">
              <mat-card-title>Review</mat-card-title>
              <mat-card-content>
                <p>{{ comment.name }}</p>
                <p>{{ comment.date | date:'short' }}</p>
                <br>
                <mat-card-subtitle>Response</mat-card-subtitle>
                <p><em>"{{ comment.content }}"</em></p>
              </mat-card-content>
          </mat-card>
          </div>
          <br>
          <br>
      </div>
    </div>
  </div>
