<app-navbar></app-navbar>
<div class="background">
    <h1>Welcome to hospital!</h1>
        <div class="box">
           
            <h2 style="margin-left: 5%;">About us</h2>
             <p class="paragraph">Years ago, a small group of home care leaders and providers noticed a need in their industry and decided to face a new endeavor, head-on. At the grassroots level, they embarked on a journey to create an accreditation option that was sensitive to the needs of small providers in North Carolina. Their mission: to “ensure a voice for providers.”

            Today, ACHC is an internationally recognized accrediting body with customers throughout the United States and beyond. We remain committed to providers, customer service, and quality patient care.</p>
        </div>
</div>
<div class="comments">
    <h2>Comments</h2>
<!--<div *ngFor="let comments of allComments">
    <div class="review-holder">
    <mat-card class="example-card">
      <img [src]="post.image"/>
      <br>
        <mat-card-content class="mat-card-font">
          <p *ngIf="post.link!=true"><b>Caption:</b> {{ post.postInfo.caption }} </p>
          <p *ngIf="post.link==true"><b>Link: </b>
          <a href = "{{ post.postInfo.caption }}"> {{ post.postInfo.caption }} </a></p>
          <p *ngIf="post.likeIds != null"><b>Likes:</b> {{ post.likeIds.length }} </p>
          <p *ngIf="post.dislikeIds != null"><b>Dislikes:</b> {{ post.dislikeIds.length }} </p>
          <mat-card-content *ngFor="let comment of post.comments">
            <p><b>Comments:</b> {{ comment.content }}</p>
          </mat-card-content>
        </mat-card-content>
    </mat-card>
    </div>
    <br>
    <br>
</div>-->
  </div>
