<table id="tableA" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      
    </ng-container>
  
    <ng-container matColumnDef="start time">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Start Time </th>
      <td mat-cell *matCellDef="let element"> {{element.startTime | date: 'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.apointmentDescription}} </td>
    </ng-container>
  
    <ng-container matColumnDef="doctor">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Doctor </th>
      <td mat-cell *matCellDef="let element"> {{element.doctorName}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Status</th>
      <td mat-cell *matCellDef="let element">
         <div *ngIf="element.status==0">DONE</div>
         <div *ngIf="element.status==1">CANCELLED</div>
         <div *ngIf="element.status==2">UPCOMING</div>
        </td>
    </ng-container>

    <ng-container matColumnDef="cancel">
      <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Cancel appointment </th>
      <td mat-cell *matCellDef="let element"><button id="cancelButton" *ngIf="element.isCancelled==false && element.status==2 && element.canCancel==true" (click)="CancelAppointment(element)">Cancel appointment</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>