<app-navbar></app-navbar>
   <div class="reviews-holder">
    <div *ngFor="let comment of comments">
        <div class="review-holder">
        <mat-card class="example-card">
            <mat-card-title>Review</mat-card-title>
            <mat-card-content>
              <textarea [(ngModel)]="comment.name" [ngModelOptions]="{standalone: true}"><em>"{{ comment.name }}"</em></textarea>
              <mat-card-subtitle>Response:</mat-card-subtitle>
              </mat-card-content>
                <textarea [(ngModel)]="comment.content" [ngModelOptions]="{standalone: true}"><em>"{{ comment.content }}"</em></textarea>
                <textarea [(ngModel)]="comment.rating" [ngModelOptions]="{standalone: true}"><em>"{{ comment.rating }}"</em></textarea>
                <kendo-buttongroup>
                <button kendoButton [disabled]="!disabled" mat-stroked-button id="approve" (click)="Approve(comment.name, comment.content, comment.rating)" class="btn-block">Approve</button>
                <button kendoButton [disabled]="disabled" mat-stroked-button id="remote" (click)="Remove()" class="btn-block">Remove from frontpage</button>
                </kendo-buttongroup>
        </mat-card>
        
        </div>
        
        <br>
        <br>
    </div>
    