.mat-toolbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
    background-color: rgb(181, 87, 171);
    color: black;
}

.mat-button{
     color: black;
}

.spacer{
    flex: 1 1 auto;
}

a {
    font-size: medium;
}