<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Give recipe</mat-card-title>
      </mat-card-header>
      <div mat-dialog-content>
      <form [formGroup]="recipeForm" class="example-form">
        <div class="example-container">
          <!--<table id="tableA" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="patient">
              <th mat-header-cell *matHeaderCellDef> Patient </th>
              <td mat-cell *matCellDef="let element"> {{element.user.name}} {{element.user.surname}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>-->
            <mat-form-field appearance="fill" class="width-100">
              <mat-label>Medicine</mat-label>
              <input id = "medicine" type="text"  matInput placeholder="" formControlName="medicine" required/>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" class="width-100">
              <mat-label>Quantity</mat-label><!--ng model fali -->
              <input id = "quantity" type="text"  matInput placeholder="" formControlName="quantity" required/>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" class="width-100">
              <mat-label>Instructions</mat-label>
              <input id = "instructions" type="text"  matInput placeholder="" formControlName="instructions" required/>
            </mat-form-field>
            </div>

        <button id="send" mat-stroked-button color="accent" class="btn-block" (click)="Send()">Send</button>
      </form>
    </div>
    </mat-card>
  </div>
