<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title style="margin-left: 130%; width: 100%;">Give recipe</mat-card-title>
      </mat-card-header>
      <div mat-dialog-content>
      <form [formGroup]="recipeForm" class="example-form">
        <div>
            <mat-form-field style="margin-left: 10%; width: 100%;" appearance="fill" class="width-100">
              <mat-label>Medicine</mat-label>
              <input id = "medicine" type="text"  matInput placeholder="" formControlName="medicine" required/>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" class="width-100" style="margin-left: 10%; width: 100%;">
              <mat-label>Quantity</mat-label>
              <input id = "quantity" type="text"  matInput placeholder="" formControlName="quantity" required/>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" class="width-100" style="margin-left: 10%; width: 100%;">
              <mat-label>Instructions</mat-label>
              <input id = "instructions" type="text"  matInput placeholder="" formControlName="instructions" required/>
            </mat-form-field>
            </div>

        <button id="send" mat-stroked-button color="accent" style="margin-left: 50%; background-color: rgb(13, 47, 174); font-size: 20px; color: white;" class="btn-block" (click)="Send()">Send</button>
      </form>
    </div>
    </mat-card>
  </div>
